<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.windows.forms jitDebugging="true" />
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="TB.AccessibleDescription" value="(None)" />
		<add key="TB.AccessiblDescription" value="(None)" />
	</appSettings>
</configuration>
