<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="TV1.HotTracking" value="True"/>
		<add key="TV1.Scrollable" value="True"/>
		<add key="TV1.ShowPlusMinus" value="True"/>
		<add key="TV1.ShowRootLines" value="True"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
